html , body{
    margin:0;
    padding:0;

}
:root{
    font-size:16px;
}
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*
 HELPER STYLES START
====================
*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex.justify-center{
    justify-content: center;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.align-center{
    align-items: center;
}
.flex.justify-end{
    justify-content:flex-end;
}

/*
 HELPER STYLES END
====================
*/
#main-content{
    height:88vh;
    
}
#navbar{
    cursor: pointer;
    height: 64px;
    color: #858585;
}
#navbar a{
    color: #858585;
    margin-right:1rem;
}
#navbar img{
    margin-right: 1rem;
}
.user{
    border-radius: 100%;
    background-color: #8D6E63;
    color:#FAF8F8;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.flex-container{
    height:95%;
}
.flex-container > img{
    margin:1rem 0;

}

.search-bar{
    width: 545px;
    height:48px;
    border-radius:30px;
    border:1px #EAEBEE solid;
    padding:.6rem;
    margin-bottom: 1rem;


}
.search-bar:hover{
    box-shadow:0 0 10px rgb(178, 180, 180) ;
}
.search-bar input{
    margin:0 .6rem;
    height:100%;
    width:95%;
    border:0;
    outline: none;
    border-right: 1px red solid;
    padding-right: .6rem;
}
.options{
    width:18.2vw;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.options button{
   padding: .3rem .5rem;
   border:0;
   background-color: #F2F2F2;
   color:#A2A2A2;

}
.options button:hover{
    border: 1px #A2A2A2 solid;
    color:black;
 
 }
.languages{
    width:30vw;
}
footer{
    height: 12vh;
    background-color:#F2F2F2 ;
    color:#A2A2A2;
}
footer a{
    color:#A2A2A2;   
}
.country{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    border-top: 1px #A2A2A2 solid ;
    border-bottom: 1px #A2A2A2 solid ;
}

.flex-item1 a{
    margin-left: 1rem;
}
.flex-item2 a{
    margin-right: 1rem;
}

